In [2]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [ ]:
###Load all the trained model,Scalar pickle file, and one hot encoder pickle file
model=load_model('model.h5')

##Load encoders and scalar
with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender= pickle.load(file)
with open('one_hot_encoder_geo.pkl','rb') as file:
    one_hot_encoder_geo= pickle.load(file)
with open('scalar.pkl','rb') as file:
    scalar= pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [4]:
input_data={
    'CreditScore':600,
    "Geography":'France',
    'Gender':'Male',
    'Age':45,
    'Tenure':3,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':55000
}

In [7]:
geo_encoded = one_hot_encoder_geo.transform([[input_data['Geography']]])
geo_encoded_df=pd.DataFrame(geo_encoded,columns=one_hot_encoder_geo.get_feature_names_out(['Geography']))

c:\Users\Prabha\Desktop\MCA\Simple ANN\venv\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [8]:
geo_encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [11]:
df=pd.DataFrame([input_data])
df

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male  ...          1               1            55000

[1 rows x 10 columns]

In [13]:
df=df.drop(columns='Geography')

In [14]:
df=pd.concat([df,geo_encoded_df],axis=1)

In [15]:
df

   CreditScore Gender  ...  Geography_Germany  Geography_Spain
0          600   Male  ...                0.0              0.0

[1 rows x 12 columns]

In [16]:
##Encode Categorical variable
df['Gender']=label_encoder_gender.transform(df['Gender'])

In [18]:
df

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [19]:
## Scaling the data
scaled_df=scalar.transform(df)
scaled_df

array([[-0.53598516,  0.91324755,  0.58015577, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.78989886,  1.00150113,
        -0.57946723, -0.57638802]])

In [21]:
prediction=model.predict(scaled_df)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 40ms/step

array([[0.06965354]], dtype=float32)

In [22]:
prediction_prob=prediction[0][0]

In [24]:
prediction_prob

np.float32(0.06965354)